body {
    margin: 0;
    background-color: #1F2937;
    position: absolute;
    margin-left: 25px;
    
}


h1{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.first{
    color: #F9FAFB;

}

.second{
    color: #10B981;
}
    

p{
    color: 9CA3AF;
    margin-top: 5px;
}

button{
    background: #10B981;
    border-radius: 6px;
    width: 200px;
    height: 39px;
    text-align: center;
    margin-bottom: 40px;
    color: #F9FAFB;
}
  




.container{

    display: flex;
    flex-direction:row; 
    justify-content: start;
    position: absolute;
    height: 39px;
    border: none;


       
   
}

.items{
        
    border: solid 1px;
    background-color: #374151;    
    border-radius: 6px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */
    color: #55F991;
    width: 211px;
    height: 39px;
    margin-right: 15px;
    padding-top: 7px;
    
    }


